.section{
    display: inline-block;
    max-width: 600px;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.list{
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding: 0 8px 0 0;
}

.list_scrollable{
    max-height: 41.2vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding: 0;

}

.total_price{
    display: inline-block;
    vertical-align: middle;
}

.list_scrollable::-webkit-scrollbar {
    width: 8px;
    background-color:#2E2E37;
}

.list_scrollable::-webkit-scrollbar-track {
    width: 8px;
    background-color:#2E2E37;
}

.list_scrollable::-webkit-scrollbar-thumb {
    width: 8px;
    background-color:#8585AD;
}

.item {
    text-align:center;
}

.item_total{
    text-align: right;
}

.item_moveable{
    position: relative;
}

.item_moveable > svg{
    position: absolute;
    left: 0;
    top: calc(50% - 20px);
}

.item_moveable:last-child > svg{
    position: absolute;
    left: 0;
    top: calc(50% - 12px);
}