.figure {
    margin: 0;
    padding: 0;
}

.order {
    margin: 0;
    padding: 0;
}
.order_description{
    margin: 0;
    padding: 0;
}
.order_started {
    margin: 0;
    padding: 0;
}

.order_recommendation {
    margin: 0;
    padding: 0;
}