.item_moveable {
    position: relative;
    padding-right: 0px;
}

.item {
    text-align: center;
    display: flex;
    justify-content: center;
}

.hover_top {
    padding-top: 50px;
}

.hover_bottom {
    padding-bottom: 50px;
}

.dragging {
    display: none;
}

.handler {
    display: inline-block;
    flex-grow: 1;
    height: 100%;
    max-width: 24px;
    margin: auto;
    padding-right: 12px;
}

.handler > svg {
    cursor: pointer;

}
/* SAFARI */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        .item_moveable {
            position: relative;
            padding-right: 8px;
        }
    }
}

/* FF */
@supports (-moz-appearance:none) {
        .item_moveable {
            position: relative;
            padding-right: 8px;
        } 
}
