.header {
    display: inline-block;
    text-align: center;
    background-color: #1C1C21;
    margin: 0;
    width: 100%;
}

.section{
    display: inline-block;
    max-width: 1280px;
    min-width: 1280px;
    width: 100%;
}

.nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: 0;
    justify-items: center;
    align-items: center;
}

.header__element {
    width: 100%;
    vertical-align: middle;
    list-style-type: none;
    margin: 0; 
    padding: 0;
}

.header__element:first-child {
    text-align: left;
}

.header__element:last-child {
    text-align: right;
}